<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      ApPet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card-header class="ion-text-center">
    <ion-card-title>
      <ion-text color="dark">
        <h2>List by Prices</h2>
      </ion-text>
    </ion-card-title>
  </ion-card-header>

  <ion-list *ngFor="let pet of listaPets">
    <ion-item>
      Id: {{pet.id}} <br>
      Tipo: {{pet.type}} <br>
      Preço: {{pet.price}}
    </ion-item>
  </ion-list>

</ion-content>
